@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://i.ytimg.com/vi/64jOcTRtipk/maxresdefault.jpg" alt="NewHeap.net" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    The NewHeap Shopping list aplication!<br/>
                    <a class="btn btn-default" href="https://newheap.com/">
                        See NewHeap
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://cdncloudcart.com/storage/online-store-for-groceries-products-cloudcart.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Feel the power flows through your body becus of the Groceries app!<br/>
                    <a class="btn btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-10">
        <h2>Application uses</h2>
        <ul>
            <li>Whit this aplication u can see how mutch stock u have.</li>
            <li>Also u can place the stores whare u can buy your stock.</li>
        </ul>
    </div>
</div>